<div class="container">
    <div class="d-flex flex-wrap">
        <div class="card" *ngFor="let product of products | paginate: { itemsPerPage: 5, currentPage: p }"
            routerLink="/productPage/{{product._id}}">
            <img class="card-img-top card-img-size" src="{{product.image}}" alt="Product image"
                routerLink="/productPage/{{product._id}}">
            <div class="card-body">
                <span class="card-title">{{product.name}}</span>
                <div class="d-flex justify-content-between align-items-center">
                    <strong>{{product.price | currency: "BRL" }}</strong>
                </div>
            </div>
        </div>
    </div>
    <pagination-controls class="d-flex justify-content-center align-items-center my-pagination" previousLabel="" nextLabel=""
        (pageChange)="p = $event"></pagination-controls>
</div>